.additionaldetail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1em;
  &__location,
  &__twitter,
  &__blog,
  &__company {
    display: flex;
    align-items: center;
    p {
      margin-left: 1rem;
    }
  }
  @media (max-width: 510px) {
    grid-template-columns: 1fr;
    &__location,
    &__twitter,
    &__blog,
    &__company {
      justify-self: center;
    }
  }
}
