.content {
  width: $width;
  border-radius: 10px;
  display: flex;
  padding: 2rem;
  min-width: 320px;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  &__imagecontainer,
  &__profilecontainer {
    flex-basis: 20%;
  }
  &__imagecontainer {
    &__image {
      border-radius: 100%;
    }
  }
  &__profilecontainer {
    flex-grow: 1;
    margin-left: 1.5rem;
    @media (max-width: 508px) {
      margin-left: 0;
      text-align: center;
    }
    &__bio {
      font-size: 1.2rem;
      margin: 1.5rem 0;
    }
  }
}
