.home {
  position: absolute;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  @media (min-width: 640px) {
    min-height: 100vh;
  }

  &__content {
    width: 100%;
    @include flexContainer(row, center, center);
  }

  &__input {
    width: 100%;
  }
}
