.navbar {
  width: $width;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    margin: 0;
  }
  &__theme {
    display: flex;
    align-items: center;
    cursor: pointer;
    h3 {
      margin-right: 0.5rem;
    }
  }
  @media (max-width: 768px) {
    width: clamp(17rem, 84vw, 40rem);
  }
}
